<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <royaltrek>
                <active>1</active>
                <title>Royal Trek Shipping</title>
                <sallowspecific>0</sallowspecific>
                <showMethod>0</showMethod>
                <specificerrmsg>The Royal Trek Shipping is not available</specificerrmsg>
                <sort_order>10</sort_order>
                <model>Magelicious\RoyalTrek\Model\Carrier\RoyalTrek</model>
                <royaltrekstandard>
                    <title><![CDATA[RoyalTrek Standard]]></title>
                    <shippingcost>4.99</shippingcost>
                </royaltrekstandard>
                <royaltrek48hr>
                    <title><![CDATA[RoyalTrek 48h]]></title>
                    <shippingcost>9.99</shippingcost>
                </royaltrek48hr>
            </royaltrek>
        </carriers>
    </default>
</config>
